.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 7px;
  background-color: #9a9e9e;
  padding: 7px;
}

.grid-container > header, nav, section, aside, footer {
  background-color: antiquewhite;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.terms {
    background-color: #e5fdfd;
    padding: 10px;
    line-height: 1.5;
  }

  .links {
    text-align: center;
  }

  .roll20 {
    background-color: #f297f2;
  }

  img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    border: solid;
  }
